<% include header %>
<div class="container mt-5">
  <div class="alert alert-danger 
    <% if(!locals.error){ %>
      d-none
    <% } %>">
    <p id="error"><%= locals.error %></p>
  </div>
  <form action="/votar/elegirCandidato" method="POST">
    <% candidatos.forEach((item) => { %>
        <div class="row justify-content-center h-100 mt-5">
          <div class="container py-3 col-md-8 col-sm-12">
            <label id="elegirCandidato">
              <input type="radio" name="_id" id="_id" value="<%= item._id %>" class="card-input-element" />

              <div class="card text-center card-input" id="card-candidato">
                <div class="row ">
                  <div class="col-md-4">
                      <img class="img-candidato" src="<%=item.imagenPartido%>">
                    </div>
                    <div class="col-md-8 px-3 align-items-center d-flex justify-content-center">
                      <div class="card-block px-3">
                        <h4 class="card-title"><%=item.nombrePartido%></h4>
                        <p class="card-text"><%=item.nombreCandidato%></p>                   
                      </div>
                    </div>
                  </div>
                </div>
            </label>
          </div>
        </div>
      <% }) %>
      <input type="text" id="dni" name="dni" class="d-none" value="<%= dni %>">
      <!-- Botón votar -->
      <button class="btn btn-info btn-block" type="submit">VOTAR</button>
      <button class="btn btn-danger btn-block" type="reset">CANCELAR</button>
  </form>
</div>

<% include footer %>