<% include header %>
<script>
  $('#nav-estadisticas').addClass('active');
</script>
<div class="card mt-md-5 mt-5">
  <div class="card-header bg-light text-center">
    <h3><i class="fas fa-chart-bar"></i> TOTAL DE VOTOS: <%=totalVotos%></h3>
  </div>
<% candidatos.forEach((item, index) => { %>
  <section>
  <div class="py-3 col-md-8 col-sm-12 card-container container">
    <div class="card-flip text-center">
      <!-- Card 1 Front -->
      <div class="card front d-flex justify-content-center">
        <span class="fas fa-vote-yea text-center" style="font-size:48px"></span>
        <div class="card-block">
          <h4 class="card-title text-center"><%=index + 1%>° PUESTO</h4>
        </div>
      </div>
      <!-- End Card 1 Front -->

      <!-- Card 1 Back -->
      <div class="card back">
        <div class="card-block">
          <div class="row ">
            <div class="col-md-4">
                <img id="img-porcentaje" style="width: 100%;" src="<%=item.imagenPartido%>">
              </div>
              <div class="col-md-8 px-3 align-items-center d-flex justify-content-center">
                <div class="card-block px-3 col-md-12">
                  <h4 class="card-title" style="text-transform: uppercase;"><%=item.nombrePartido%></h4>
                  <h5 class="card-text">Candidato: <%=item.nombreCandidato%></h5>
                  <div class="progress" style="height: 35px;">
                    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="<%=item.cantidadVotos * 100 / totalVotos %>" aria-valuemin="0" aria-valuemax="100" id="progressBarCandidato" style="width: <%=item.cantidadVotos * 100 / totalVotos %>%; font-size: 15px"><%=(item.cantidadVotos * 100 / totalVotos).toFixed(2) %> %</div>
                  </div>
                  <h5>VOTOS: <%= item.cantidadVotos %></h5>
                </div>
              </div>
            </div>
        </div>
      </div>
      <!-- End Card 1 Back -->
    </div>
  </div>
  </section>
<br>
<% }) %>
</div>

<% include footer %>